// Top header
.top-header {
	padding: 22px 0;
}
.social>div:not(:first-of-type) {
	padding-left: 32px;
}
.social img {
	max-height: 16px;
}

// Main header
.main-header .main-header__details, .main-banner .main-banner__details {
	@include max-w-xl;
	background-color: #fff;
	padding: 70px 120px 30px 60px;
	@media(max-width: 575px) {
		padding: 10px 60px 30px 30px;
	}
}
.main-banner.main-banner-dark .main-banner__details {
	background-color: $red;
}
.main-banner .main-banner__details {
	padding-bottom: 366px;
}
.main-header nav.navbar {
	padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link, .main-footer__quicklinks a {
	padding-right: 0;
	padding-left: 58px;
	font-family: $font-secondary;
	font-size: 14px;
}
.navbar-toggler:focus, .navbar-toggler:hover {
	outline: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
	color: $secondary-color;
	&:hover {
		color: $primary-color;
	}
}
#nav-icon {
	width: 35px;
	height: 20px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #003A92;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 9px;
		}
		&:nth-child(3) {
			top: 18px;
		}
	}
}
#nav-icon.open span {
	&:nth-child(1) {
		top: 18px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	&:nth-child(2) {
		opacity: 0;
		left: -60px;
	}
	&:nth-child(3) {
		top: 18px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
}