@mixin max-w-xl {
	max-width: 1380px;
}
@mixin main-header {
	color: $primary-color;
	font-size: 64px;
	line-height: 70px;
}
@mixin btn-layoutarrow {
	font-family: $font-secondary;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	padding: 22px 86px 22px 22px;
	border: 1px solid #C4C4C4;
	position: relative;
	&:after {
		content: '';
		background: url('../images/right.png') no-repeat;
		background-size: 10px 16px;
		width: 10px;
		height: 16px;
		position: absolute;
		right: 28px;
		top: 50%;
    	transform: translateY(-50%);
	}
	&:before {
		content: '';
		background: #C4C4C4;
		width: 1px;
		height: 64px;
		position: absolute;
		top: 0;
		right: 64px;
	}
}