@font-face {
  font-family: galaxie;
  src: url(../fonts/Galaxie.otf) format("opentype");
}
@font-face {
  font-family: inter;
  src: url(../fonts/Inter.ttf) format("truetype");
}
body {
  background-color: #F2EFEE;
  font-family: galaxie;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 25px;
}

a, a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}

section {
  margin-bottom: 160px;
}

.main-title {
  text-transform: uppercase;
  font-family: inter;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
  color: #003A92;
  font-weight: 700;
}

.sub-title {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.beneficiaries .slick-list .slick-track > div {
  margin-left: 55px;
}

.container-fluid {
  padding-left: 240px;
  padding-right: 240px;
}

.latest-news > .container-fluid, .main-footer > .container-fluid {
  padding-left: 300px;
  padding-right: 300px;
}

.top-header {
  padding: 22px 0;
}

.social > div:not(:first-of-type) {
  padding-left: 32px;
}

.social img {
  max-height: 16px;
}

.main-header .main-header__details, .main-banner .main-banner__details {
  max-width: calc(100vw - 240px);
  background-color: #fff;
  padding: 70px 120px 30px 60px;
}
@media (max-width: 1680px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    max-width: calc(100vw - 120px);
  }
}
@media (max-width: 992px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    max-width: calc(100vw - 88px);
  }
}
@media (max-width: 768px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    max-width: calc(100vw - 64px);
  }
}
@media (max-width: 576px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    max-width: calc(100vw - 48px);
  }
}
@media (max-width: 480px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    max-width: calc(100vw - 32px);
  }
}
@media (max-width: 575px) {
  .main-header .main-header__details, .main-banner .main-banner__details {
    padding: 10px 60px 30px 30px;
  }
}

.main-banner.main-banner-dark .main-banner__details {
  background-color: #8C2531;
}

.main-banner .main-banner__details {
  padding-bottom: 366px;
}

.main-header nav.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link, .main-footer__quicklinks a {
  padding-right: 0;
  padding-left: 58px;
  font-family: inter;
  font-size: 14px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #3C3C3C;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #003A92;
}

#nav-icon {
  width: 35px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #003A92;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2) {
  top: 9px;
}
#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.main-footer {
  background-color: #3C3C3C;
  padding: 76px 0 0 0;
}

.main-footer > *, .main-footer a {
  color: #ffffff;
  font-family: inter;
}

.main-footer__logo {
  padding-bottom: 45px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

.main-footer__quicklinks > div:first-of-type a {
  padding-left: 0;
}

.main-footer__copyright {
  padding-top: 160px;
  padding-bottom: 40px;
}

.main-footer__copyright > * {
  font-size: 14px;
}

.main-footer__policies > div:not(:first-of-type) {
  padding-left: 58px;
}

.main-banner__details h1 {
  color: #003A92;
  font-size: 64px;
  line-height: 70px;
}
@media (max-width: 767px) {
  .main-banner__details h1 {
    font-size: 28px;
    line-height: 1.1;
  }
}

.main-banner__details .main-banner__content {
  max-width: 885px;
}

.main-banner-dark .main-banner__details .main-banner__content {
  max-width: 780px;
}

.main-banner-dark .main-banner__details .main-banner__content {
  margin-left: 300px;
}

.main-banner-dark .main-banner__details .main-banner__content p {
  max-width: 580px;
}

.main-banner__details .btn-default {
  font-family: inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 22px 86px 22px 22px;
  border: 1px solid #C4C4C4;
  position: relative;
}
@media (max-width: 1400px) {
  .main-banner__details .btn-default {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 30px 10px 10px;
  }
}
.main-banner__details .btn-default:after {
  content: "";
  background: url("../images/right.png") no-repeat;
  background-size: 10px 16px;
  width: 10px;
  height: 16px;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1400px) {
  .main-banner__details .btn-default:after {
    right: 12px;
    background-size: 7px 11px;
    width: 7px;
    height: 11px;
  }
}
.main-banner__details .btn-default:before {
  content: "";
  background: #C4C4C4;
  width: 1px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 64px;
}
@media (max-width: 1400px) {
  .main-banner__details .btn-default:before {
    height: 36px;
    right: 24px;
  }
}

.main-banner__image {
  margin-top: -282px;
}

.main-banner-dark .main-banner__details > *, .founder > *, .main-banner-dark .main-title, .founder .main-title {
  color: #ffffff;
}

section.main-banner-dark {
  margin-bottom: 60px;
}

.main-banner__image > img {
  width: 100%;
  object-fit: cover;
}

.main-banner__image {
  max-width: calc(100vw - 300px);
}

.founder__title {
  background-color: #D7C3AE;
  padding: 80px 0 334px 0;
}

.founder__image {
  margin-top: -183px;
}

.founder__details {
  bottom: 60px;
  padding-left: 60px;
  left: 240px;
  right: 240px;
  padding-right: 60px;
}

.founder__details > *:first-of-type {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.founder__details > * {
  font-size: 44px;
  line-height: 52px;
}

.see-all {
  border-bottom: 1px solid #C4C4C4;
  font-family: inter;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 14px;
  color: #3C3C3C;
  position: relative;
}
.see-all:after {
  content: "";
  background: url("../images/right.png") no-repeat;
  background-size: 10px 16px;
  width: 10px;
  height: 16px;
  position: absolute;
  top: 9%;
  right: -17px;
}

.latest-news .main-title {
  margin-bottom: 60px;
}

.latest-news__card {
  padding: 40px 40px 0 40px;
  border: 1px solid #ffffff;
}

.latest-news__card--body h2, .latest-news__card--body h2 > a,
.latest-news__card--body h3, .latest-news__card--body h3 > a,
.latest-news__card--body p, .latest-news__card--body p > a {
  color: #3C3C3C;
}

.latest-news__card--body h2, .latest-news__card--body h2 > a {
  line-height: 52px;
  font-size: 44px;
  margin-bottom: 91px;
}

.latest-news__card--body h3, .latest-news__card--body h3 > a {
  font-size: 32px;
  margin-bottom: 56px;
  line-height: 38px;
}

.latest-news__card--body p, .latest-news__card--body p > a {
  font-size: 18px;
  margin-bottom: 47px;
  line-height: 25px;
}

.latest-news__card--date {
  margin: 20px 0 16px;
}

.latest-news__card--date > * {
  font-size: 14px;
  line-height: 14px;
  font-family: inter;
  text-transform: uppercase;
  position: relative;
  color: #74788A;
}

.latest-news__card--date > *:not(:last-of-type):after {
  content: "";
  position: absolute;
  background-color: #C4C4C4;
  width: 32px;
  height: 1px;
  top: 50%;
}

.latest-news__card--date > *:not(:last-of-type) {
  margin-right: 34px;
}

.beneficiaries__details {
  max-width: calc(100vw - 300px);
}

.beneficiaries__slider--details {
  max-width: 255px;
  padding-top: 16px;
}

.beneficiaries__details .main-title {
  margin-bottom: 47px;
}

.beneficiaries__slider--details > * {
  font-size: 18px;
  font-weight: 400px;
  line-height: 25px;
  color: #3C3C3C;
}

.gallery__slider .main-title {
  margin-bottom: 60px;
}

.gallery__slider .slick-slide {
  padding: 40px;
  border: 1px solid #F2EFEE;
}

.gallery, .beneficiaries, .founder {
  background-color: #ffffff;
}

.gallery, .beneficiaries {
  padding: 80px 0 150px;
}

@media (max-width: 1680px) {
  .main-banner__image {
    max-width: calc(100vw - 180px);
  }

  .main-banner-dark .main-banner__details .main-banner__content {
    margin-left: 180px;
  }

  .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }

  .latest-news > .container-fluid, .main-footer > .container-fluid {
    padding-left: 180px;
    padding-right: 180px;
  }

  .beneficiaries__details {
    max-width: calc(100vw - 180px);
  }

  .founder__details {
    left: 120px;
    right: 120px;
  }
}
@media (max-width: 1200px) {
  .main-footer__quicklinks a {
    padding-left: 25px;
  }
}
@media (max-width: 992px) {
  .main-banner__image {
    max-width: calc(100vw - 148px);
  }

  .main-banner .main-banner__details {
    padding-bottom: 150px;
  }

  .main-banner__image {
    margin-top: -150px;
  }

  .main-banner__details > .d-lg-flex {
    margin-bottom: 30px;
  }

  .container-fluid {
    padding-left: 88px;
    padding-right: 88px;
  }

  .main-banner-dark .main-banner__details .main-banner__content {
    margin-left: 148px;
  }

  .latest-news > .container-fluid, .main-footer > .container-fluid {
    padding-left: 148px;
    padding-right: 148px;
  }

  .beneficiaries__details {
    max-width: calc(100vw - 148px);
  }

  .founder__details {
    left: 88px;
    right: 88px;
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link, .main-footer__quicklinks a {
    padding-left: 0;
  }

  .main-footer .social, .main-footer__reserved {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .main-banner__image {
    max-width: calc(100vw - 124px);
  }

  .container-fluid {
    padding-left: 64px;
    padding-right: 64px;
  }

  .main-banner-dark .main-banner__details .main-banner__content {
    margin-left: 124px;
  }

  .latest-news > .container-fluid, .main-footer > .container-fluid {
    padding-left: 124px;
    padding-right: 124px;
  }

  .beneficiaries__details {
    max-width: calc(100vw - 124px);
  }

  .founder__details {
    left: 64px;
    right: 64px;
  }
}
@media (max-width: 767px) {
  .latest-news__card--body h2, .latest-news__card--body h2 > a, .sub-title {
    line-height: 30px;
    font-size: 24px;
  }

  .latest-news__card--body h3, .latest-news__card--body h3 > a {
    font-size: 20px;
    line-height: 25px;
  }

  .latest-news__card--body p, .latest-news__card--body p > a,
.main-banner-dark .main-banner__details .main-banner__content p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .main-banner__image {
    max-width: calc(100vw - 108px);
  }

  .main-banner .main-banner__details {
    padding-bottom: 80px;
  }

  .main-banner__image {
    margin-top: -80px;
  }

  .container-fluid {
    padding-left: 48px;
    padding-right: 48px;
  }

  .main-banner-dark .main-banner__details .main-banner__content {
    margin-left: 108px;
  }

  .latest-news > .container-fluid, .main-footer > .container-fluid {
    padding-left: 108px;
    padding-right: 108px;
  }

  .main-header .main-header__details, .main-banner .main-banner__details {
    padding-top: 30px;
  }

  .beneficiaries__details {
    max-width: calc(100vw - 108px);
  }

  .founder__details {
    left: 48px;
    right: 48px;
    bottom: 20px;
    padding-left: 20px;
  }

  .founder__details > * {
    font-size: 15px;
    line-height: 20px;
  }

  .founder__details > *:first-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .founder__title {
    padding: 30px 0 200px 0;
  }
}
@media (max-width: 575px) {
  .main-footer__policies > div:not(:first-of-type) {
    padding-left: 0;
    margin-top: 30px;
  }

  .main-footer__copyright {
    padding-top: 60px;
  }
}
@media (max-width: 480px) {
  .main-banner__image {
    max-width: calc(100vw - 50px);
  }

  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-banner-dark .main-banner__details .main-banner__content {
    margin-left: 50px;
  }

  .latest-news > .container-fluid, .main-footer > .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

  .beneficiaries__details {
    max-width: calc(100vw - 50px);
  }

  .founder__details {
    left: 32px;
    right: 32px;
  }
}